@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Oswald:wght@500&family=Righteous&family=Sarala&display=swap');

/* FONTS FAMILY */
/* font-family: 'Inter', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif; */

:root{
  --blue: #00d2df;
  --gradiente-pink-color-01: #d24074;
  --gradiente-pink-color-02: #6518b4;
  --gradiente-purple-color-01: #9358f7;
  --gradiente-purple-color-02: #10d7e2;
  --dark: #121212;
  --dark-200: #151515;
  --gray-light: #c4c4c4;
  --light: #ffffff;
}

/* header
{
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid var(--dark-200);
} */

ul {
  margin: 0px;
  padding: 0px;
}

a {
  color: var(--gray-light);
  text-decoration: none;
}

#logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--blue);
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid var(--dark-200);
}

#menu {
  display: flex;
  list-style: none;
  gap: 1.2rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
  transition: all .2s;
  line-height: 30px;
  border-radius: 3px;
}

#menu a:hover {
  background: var(--blue);
  border-radius: 3px;
  color: var(--dark-200);
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: var(--dark-200);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-radius: 0;
    border-bottom: 1px solid var(--gray-light);
    text-align: center;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid var(--light);
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: var(--light);
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}